#####################################################################
# 	Chamber lighting
#####################################################################
# Stealthburner toolhead LEDs + status macros: led_effects/stealthburner_led_effects_3_leds.cfg

[output_pin caselight]
# Chamber light - HE3 connector
pin: PA3
pwm: true
shutdown_value: 0
cycle_time: 0.01

[neopixel disco_stick]
pin: PD15
chain_count: 36
color_order: GRB
initial_RED: 0.3
initial_GREEN: 0.3
initial_BLUE: 0.3

[led_effect rainbow_loop]
autostart: false
frame_rate: 24
leds:
    neopixel:disco_stick
layers:
    gradient  0.5  1 top (1.0, 0.0, 0.0),(0.0, 1.0, 0.0),(0.0, 0.0, 1.0)

[led_effect panel_idle]
autostart: true
frame_rate: 24
leds:
    neopixel:disco_stick
layers:
    breathing  10 1 top (.5,.5,1)
