#####################################################################
# 	Toolhead: Stealthburner + Clockwork 2 + Dragon HF on EBB SB2209 (CAN)
#####################################################################
# PID values and the probe z_offset live in printer.cfg's SAVE_CONFIG block;
# don't define control/pid_*/z_offset here or SAVE_CONFIG will refuse to save.

[extruder]
step_pin: EBBCan:gpio18
dir_pin: EBBCan:gpio19
enable_pin: !EBBCan:gpio17
microsteps: 16
rotation_distance: 21.534369838408235
gear_ratio: 50:10
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan:gpio7
min_temp: 0
max_temp: 280
max_extrude_only_distance: 105
max_extrude_cross_section: 5
sensor_type: MAX31865
sensor_pin: EBBCan:gpio9
spi_software_sclk_pin: EBBCan:gpio10
spi_software_mosi_pin: EBBCan:gpio8
spi_software_miso_pin: EBBCan:gpio11
rtd_nominal_r: 100
rtd_reference_r: 430
rtd_num_of_wires: 2
pressure_advance: 0.04

[tmc2209 extruder]
uart_pin: EBBCan:gpio20
run_current: 0.65
stealthchop_threshold: 0

[firmware_retraction]
retract_length: 0.3    # Start low; Dragon HF prefers shorter moves
retract_speed: 40      # Snappy retraction to manage the larger melt zone
unretract_extra_length: 0
unretract_speed: 40

#####################################################################
# 	Probe (nozzle probe, must be <=150C to protect the build surface)
#####################################################################

[probe]
pin: ^EBBCan:gpio22
x_offset: 0
y_offset: 0
lift_speed: 30
activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}

#####################################################################
# 	Toolhead fans & sensors
#####################################################################

[fan]
# Part cooling
pin: EBBCan:gpio13

[heater_fan hotend_fan]
pin: EBBCan:gpio14
heater: extruder
heater_temp: 50.0

# EBB 4-wire fan header (gpio15, tach gpio12): unused - nothing connected (0 RPM at 60% on 2026-10-01).

[temperature_sensor EBB_NTC]
sensor_type: Generic 3950
sensor_pin: EBBCan:gpio28

#####################################################################
# 	Accelerometer / input shaping (results in SAVE_CONFIG)
#####################################################################

[adxl345]
cs_pin: EBBCan:gpio1
spi_software_sclk_pin: EBBCan:gpio2
spi_software_mosi_pin: EBBCan:gpio0
spi_software_miso_pin: EBBCan:gpio3
axes_map: z,-y,x

[resonance_tester]
probe_points: 175, 175, 20    # bed center
accel_chip: adxl345
