# Chamber LED strip (neopixel disco_stick, 36 LEDs, hardware/lights.cfg) following the printer status.
# The STATUS_* macros in stealthburner_led_effects_3_leds.cfg call _CHAMBER_LEDS STATE=<state>.
# States: idle, busy (homing/leveling/meshing), heating, cooling, printing, part_ready, off.

[gcode_macro _CHAMBER_LEDS]
gcode:
    {% set state = params.STATE|default('idle')|lower %}
    STOP_LED_EFFECTS LEDS="neopixel:disco_stick"
    {% if state != 'off' %}
        SET_LED_EFFECT EFFECT=chamber_{state}
    {% endif %}

[led_effect chamber_idle]
autostart: true
frame_rate: 24
leds:
    neopixel:disco_stick
layers:
    breathing  10 1 top (.5,.5,1)

[led_effect chamber_busy]
autostart: false
frame_rate: 24
leds:
    neopixel:disco_stick
layers:
    static  0 0 top (0.6, 0.6, 0.6)

[led_effect chamber_heating]
autostart: false
frame_rate: 24
leds:
    neopixel:disco_stick
layers:
    breathing  3 1 top (1.0, 0.18, 0.0)

[led_effect chamber_cooling]
autostart: false
frame_rate: 24
leds:
    neopixel:disco_stick
layers:
    breathing  3 1 top (0.0, 0.0, 1.0)

[led_effect chamber_printing]
autostart: false
frame_rate: 24
leds:
    neopixel:disco_stick
layers:
    static  0 0 top (1.0, 1.0, 1.0)

[led_effect chamber_part_ready]
autostart: false
frame_rate: 24
leds:
    neopixel:disco_stick
layers:
    breathing  3 1 top (0.0, 1.0, 0.0)

[led_effect chamber_critical_error]
autostart: false
frame_rate: 24
run_on_error: true
leds:
    neopixel:disco_stick
layers:
    strobe     1  1.5 add        (1.0, 1.0, 1.0)
    breathing  2  0   difference (0.95, 0.0, 0.0)
    static     1  0   top        (1.0, 0.0, 0.0)

# Manual effect: SET_LED_EFFECT EFFECT=rainbow_loop
[led_effect rainbow_loop]
autostart: false
frame_rate: 24
leds:
    neopixel:disco_stick
layers:
    gradient  0.5  1 top (1.0, 0.0, 0.0),(0.0, 1.0, 0.0),(0.0, 0.0, 1.0)
